ToolsForNewGraphics/maxtouchTool.xcodeproj/project.xcworkspace/xcuserdata
ToolsForNewGraphics/maxtouchTool.xcodeproj/xcuserdata/katekovanton.xcuserdatad
ToolsForNewGraphics/maxtouchTool/Utils/libpng/libpng.xcodeproj/xcuserdata
ToolsForNewGraphics/maxtouchTool.xcodeproj/xcuserdata
